html{
    font-family: 'PT Sans Narrow', sans-serif;
}
h1{
  font-size: 60px;
    text-align: center;
}

p, li {
   font-family: 16px;
   line-height: 2;
   letter-spacing: 1px;
}
html{
    background-color: #c41e3a;
}
body{
    width: 1111;
    margin: 0 auto;
    background-color: #00008b;
    padding: 0 25px 25px 25px;
    border: 5px rgb(0, 0, 0);
}
h1{
   margin: 0;
   padding: 20px 0;
   color : #00b3ff;
   text-shadow: 3px 3px 1px black;
}
img {
    display: block;
    margin: 0 auto;
    width: 1111px;
}
